Write a program to separate student names belonging to a class alphabetically.
Use appropriate python data type (Should make use of lists and sorting).
a. Test case: Enter student names: ravi, ameen, saraf, rahul, kanaka
b. Student names sorted: [“ameen”, “kanaka”, “rahul”, “ravi”, “saraf”]

In [ ]:
list = ["ravi", "ameen", "saraf", "rahul", "kanaka"]
list.sort(key=str.lower)
print(list)

['ameen', 'kanaka', 'rahul', 'ravi', 'saraf']

Display numbers divisible by 5 from a list

In [ ]:
def divisiable_by_5(l):
  for num in l:
      if num % 5 == 0:
           print(num)
x=[5,12,14,18,20,25,10]
print(divisiable_by_5(x))

5
20
25
10
None

Write a Python program to create Fibonacci series upto n using Lambda

In [ ]:
from functools import reduce

fib = lambda n: reduce(lambda x, _: x+[x[-1]+x[-2]],range(n-2), [0, 1])

print(fib(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Write a program to pass two integer numbers to a function and perform following
a. divide and round off the result (Test Case:: input: 177 , 12 output: 14)
b. Modulus and ceil the result (Test Case:: iinput: 177 , 13 output: 8)

In [ ]:
import math
a = int(input())
b = int(input())
c = a/b
d = a%b
print(round(c))
print(math.ceil(d))

177
13
14
8

Write a program to eliminate duplicate values in the list
Test Case: Input: [1,2,3,55,6,3,55,7]
Output: [1,2,3,55,6,7]

In [ ]:
a = [1,2,3,55,6,3,55,7]
dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)
print(dup_items)

{1, 2, 3, 6, 7, 55}

12 boys and 15 girls are to march in a parade. The organizer wants them to
march in rows, with each row having the same number of children, and with
each row composed of children with the same gender. What is the largest
number of children per row that satisfies these constraints-Write a python
program/instruction(s)?

In [ ]:

def gcd(a, b):
  if (b == 0):
    return a

  return gcd(b, a % b)

def maximumRowValue(n, m):
  return gcd(n, m)


if __name__ == '__main__':

  N = 12
  M = 15

  print(maximumRowValue(N, M))

3

A rectangular floor measures 300 cm×195 cm 300 cm×195 cm. What is the
largest square tiles that can be used to cover the floor exactly-Write a python
program/instruction(s)

In [1]:
# Function to calculate GCD using the Euclidean algorithm
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

# Take runtime input for the dimensions of the floor
length = int(input("Enter the length of the floor in cm: "))
width = int(input("Enter the width of the floor in cm: "))

# Find the size of the largest square tile
tile_size = gcd(length, width)

print(f"The largest square tile that can cover the floor exactly is {tile_size} cm by {tile_size} cm.")

The largest square tile that can cover the floor exactly is 23 cm by 23 cm.

Find the gcd of 450,156.

In [ ]:
def gcd(x, y):

    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i
    return hcf

num1 = 450
num2 = 156

print(gcd(num1, num2))

6

Two rods are 22 m and 26 m long. The rods are to be cut into pieces of equal length. Find
the maximum length of each piece.

In [ ]:
def gcd(x, y):

    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i
    return hcf

num1 = 22
num2 = 26

print(gcd(num1, num2))

2

A shopkeeper has 420 balls and 130 bats to pack in a day. She wants to pack them in such
a way that each set has the same number in a box, and they take up the least area of the
box. What is the number that can be placed in each set for this packing purpose?

In [ ]:
def gcd(x, y):

    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i
    return hcf

num1 = 420
num2 = 130

print(gcd(num1, num2))

10

covert F to C degrees c = 5/9(F-32) e

In [ ]:
f = int(input())
c = (5/9)*(f-32)
print(round(c))

69
21

centimeters to inches 1 inch= 2.54cm

In [ ]:
inch = int(input())
c = inch/2.54
print(round(c))

30
12

miles to KM 1 km= 1.609 miles

In [ ]:
k = int(input())
m = k*1.609
print(round(m))

2
3

KG to pound 1kg = 2.204 pounds

In [ ]:
k = int(input())
g = k/2.204
print(round(g))

78
35

gallons to liters 1 gallon= 3.785

In [ ]:
g = int(input())
l = g*3.785
print(l)

6
22.71

ounce to liters 1 ounce = 0.02 96

In [ ]:
o = int(input())
l = o*0.0296
print(l)

2
0.0592

minutes & seconds to hours

In [ ]:
m = int(input())
s = int(input())
h1 = m/60
h2 = s/3600
print(h1)
print(h2)

72
5665
1.2
1.573611111111111

days to hours

In [ ]:
d = int(input())
h = d*24
print(h)

7
168

$ to Rs

In [ ]:
dollar = int(input())
rupees = dollar*80
print(rupees)

7
560

find acceleration of object a= v/t e

In [ ]:
v = int(input())
t = int(input())
a = v/t
print(a)

30
4
7.5

find kinetic energy 1/2 m V^2

In [ ]:
m = int(input())
V = int(input())
k = 1/2*m*V*V
print(k)

4
5
50.0

find momentum p= mV

In [ ]:
m = int(input())
v = int(input())
p = m*v
print(p)

5
6
30

bytes to KB, MB

In [ ]:
b = int(input())
kb = b/1000
mb = b/1000000
print(kb)
print(mb)

6
0.006
6e-06

yards to sq feet 1yard= 9 sq ft

In [ ]:
y = int(input())
sqf = 9*y
print(sqf)

3
27

frequency of a char in the string

In [ ]:
test_str = "GeeksforGeeks"
all_freq = {}
for i in test_str:
  if i in all_freq:
    all_freq[i] += 1
  else:
    all_freq[i] = 1
print (str(all_freq))

{'G': 2, 'e': 4, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1}

number of digits in the string

In [ ]:
str = "tutorialsP0in564t"
digit=letter=0
for ch in str:
   if ch.isdigit():
      digit=digit+1
   elif ch.isalpha():
      letter=letter+1
   else:
      pass
print("Letters:", letter)
print("Digits:", digit)

Letters: 13
Digits: 4

length of the string

In [ ]:
string = "eeshwar and ruthvik are watching a movie"
print(len(string))

40

display the string in reverse order

In [ ]:
def wordReverse(str):
  i = len(str)-1
  start = end = i+1
  result = ''
  while i >= 0:
    if str[i] == ' ':
      start = i+1
      while start != end:
        result += str[start]
        start += 1
      result += ' '
      end = i
    i -= 1
  start = 0
  while start != end:
    result += str[start]
    start += 1
  return result
str = input()
print(wordReverse(str))

i am eeshwar
eeshwar am i

accept names from user and display the capitalized name

In [ ]:
name = "eeshwar"
print(name.capitalize())

Eeshwar

number of words in a string

In [ ]:
print(len(input().split()))

ec rvvrtbtdce btrvcece tbt
4

number of vowels in the string

In [ ]:
def vowel_count(str):
  count = 0
  vowel = set("aeiouAEIOU")
  for alphabet in str:
      if alphabet in vowel:
        count = count + 1

  print("No. of vowels :", count)
str = "GeeksforGeeks"
vowel_count(str)

No. of vowels : 5

number of consonents in the string

In [ ]:
def isConsonant(ch):
  ch = ch.upper()

  return not (ch == 'A' or ch == 'E' or
        ch == 'I' or ch == 'O' or
        ch == 'U') and ord(ch) >= 65 and ord(ch) <= 90
def totalConsonants(string, n):

  if n == 1:
    return isConsonant(string[0])

  return totalConsonants(string, n - 1) + isConsonant(string[n-1])
string = "abc de"
print(totalConsonants(string, len(string)))

3

check if string is palindrome

In [ ]:
def isPalindrome(s):
  return s == s[::-1]
s = "malayalam"
ans = isPalindrome(s)
if ans:
  print("Yes")
else:
  print("No")

Yes

create string by replacing space with #

In [ ]:
string = "eeshwar vijaya satish ruthvik"
print(string.replace(" ","#"))

eeshwar#vijaya#satish#ruthvik

create a string by appaending with !

In [ ]:
string1 = "my name is eeshwar"
string2 = "hello, good morning"
string1 += string2
print(string1)

my name is eeshwarhello, good morning

create string by replacing digits with #

In [ ]:
test_str = 'G4G is 4 all No. 1 Geeks'
K = '#'
for ele in test_str:
  if ele.isdigit():
    test_str = test_str.replace(ele, K)
print(test_str)

G#G is # all No. # Geeks

check if given number is positive, negative or 0

In [ ]:
n = float(input("Input a number: "))
if n >= 0:
  if n == 0:
      print("It is Zero!")
  else:
      print("Number is Positive number.")
else:
  print("Number is Negative number.")

Input a number: -45
Number is Negative number.

check if even or odd

In [ ]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 5
5 is Odd

find smaller / bigger of two

In [ ]:
a = int(input())
b = int(input())
minimum = min(a, b)
maximum = max(a, b)
print(maximum)
print(minimum)

6
8
8
6

biggest or smallest of 3

In [ ]:
a = int(input())
b = int(input())
c = int(input())
minimum = min(a, b, c)
maximum = max(a, b, c)
print(maximum)
print(minimum)

7
10
13
13
7

check pass, fail, distinction

In [ ]:
StudentMarks  = int(input())
if StudentMarks >= 90:
    print('Student secured grade A ')
elif StudentMarks >= 80:
    print('Student secured grade B ')
elif StudentMarks >= 70:
    print('Student secured grade C ')
elif StudentMarks >= 60:
    print('Student secured grade D ')
elif StudentMarks >= 50:
    print('Student secured grade E')
elif StudentMarks <= 40:
    print('Failed')

34
Failed

check if 3 points are collinear

In [3]:
def are_collinear(p1, p2, p3):
    # Extract coordinates
    x1, y1 = p1
    x2, y2 = p2
    x3, y3 = p3
    
    # Check collinearity using determinant method
    return (x2 - x1) * (y3 - y2) == (y2 - y1) * (x3 - x2)

# Take input from the user
p1 = tuple(map(int, input("Enter coordinates of point 1 (x1, y1): ").split()))
p2 = tuple(map(int, input("Enter coordinates of point 2 (x2, y2): ").split()))
p3 = tuple(map(int, input("Enter coordinates of point 3 (x3, y3): ").split()))

# Check if points are collinear
if are_collinear(p1, p2, p3):
    print("The points are collinear.")
else:
    print("The points are not collinear.")

The points are collinear.